<h1>This shows all the cats</h1>

<% @cats.each do |cat|  %>

<ul>
    <li>Name: <a href=<%= cat_url(cat.id) %>><%= cat.name%></a></li>
    <br>
    <li>Birth Date: <%= cat.birth_date %></li>
    <br>
    <li>Color: <%= cat.color %></li>
    <br>
    <li>Sex: <%= cat.sex %></li>
</ul>

<br>

<p>
    Description: <%= cat.description %>
</p>

<br>


<% end %>
